const CONNECTION = {
  production: {
    host: "host",
    user: "db-user",
    password: "**********",
    database: "database-name",
  },
  development: {
    host: "localhost",
    user: "local-db-user",
    password: "**********",
    database: "local-database-name",
  },
};

module.exports = databaseCfg;
